# ==============================================================================
# File: requirements.txt
# Description: The libraries needed to run the project.
# ==============================================================================
streamlit
python-dotenv
PyYAML
google-generativeai